[twitter_account_credentials]
# Put your Twitter account information here
# Do not check this into a VCS with your information present in this file!

# Can be a Twiter username or the email associated with the account
twitter_username = 
twitter_handle = 
twitter_pw = 